*{
    font-family: segoe ui;
   
    padding: 10px;
}
.menu-lateral{
    /* justify-content: center; */
    /* flex-direction: column; */
    text-align: center;
    /* align-content: center; */
}
.menu-lateral h3{
    font-size: 16pt;
    color: white;
    
}
.menu-lateral a{
    font-style: italic;
    font-weight: 500;
    color: white;
}
.img-foto{
    display: flex;
    justify-content: center;
    /* align-items: center; */
   
    }
.img-foto img{
    width: 65%;
    background-color: white;
    height: 65%;
    border-radius: 150px;
    border: 3px solid black;
}