<div class="titulo">
    <h3>Experiências</h3>
    <div class="btn-add">
        <button (click)="openDialogCadastro()" *ngIf="permissao"><i class="fas fa-plus"></i></button>
    </div>
</div>
<div class="exp">
    <div *ngFor="let l of lista.Experiencias" class="flex-content">
        <div class="flex-item" style="flex-grow: 2;">
            <h5>Título</h5>
            <a>{{l.titulo}}</a>
        </div>
        <div class="flex-item">
            <p>Instituição</p>
            <a>{{l.instituicao}}</a>
        </div>
        <div class="flex-item" style=" max-width: 15ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;">
            <p>Descrição</p>
            <a>{{l.descricao}}</a>
        </div>
        <div class="flex-item">
            <p>Data-Início</p>
            <a>{{l.dataInicio}}</a>
        </div>
        <div class="flex-item">
            <p>Data-Fim</p>
            <a>{{l.dataFim}}</a>
        </div>
        <div class="flex-item">
            <p>Tipo</p>
            <a>{{l.tipoExperiencia.nomeTipoExperiencia}}</a>
        </div>
        <div class="flex-item">
        </div>
       <div *ngIf="permissao">
        <button (click)="openDialogEditar(l.id)">
          
                <i class="far fa-edit"></i>
        </button>
        <button (click)="AbrirDelete()">
            <i class="far fa-trash-alt"></i>
        </button>
       </div>
        <div *ngIf="!ativoDelete" class="delete">
            <strong>Deseja Excluir essa Experiência?</strong>
            <div class="Del">
                <div>
                    <button style="background:red " (click)="Deletar(l.id)">Sim</button>
                    
                </div>
                <div>
                    <button style="background: black" (click)="AbrirDelete()">Não</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
        <!-- s -->