<mat-toolbar color="primary" class="nav">
    <span>BRQ</span>
</mat-toolbar>

<h1>Vagas</h1>
<div *ngFor="let l of lista">
    <div class="vaga">
        <div class="barra-vaga"></div>
        <div class="topo-vaga">
            <div class="titulo">
                <span>
                    <strong>{{l.titulo}}</strong>
                </span>
            </div>
            <div class="empresa">
                <strong>Empresa: </strong>
                <span>{{l.empresa}}</span>
            </div>
            <div class="vinculo">
                <strong>Vínculo: </strong>
                <span>{{l.TipoVinculo}}</span>
            </div>
            <div class="local">
                <strong>Local: </strong>
                <span>{{l.localidade}}</span>
            </div>
            <div class="descricao">
                <strong>Descrição:</strong>
                <br>
                <span>{{l.descricao}}</span>
            </div>
        </div>
    </div>
    <button class="ver-vaga" mat-button routerLink="/vagas/listar/{{l.id}}">Ver vaga completa</button>