.nav{
    background-color: #035A7D;
}

h1{
    text-align: center;
}

.barra-vaga{
    width: 10%;
    height: auto;
    background-color: #f27405;
    float: left;
}

.vaga{
    background-color: #035A7D;
    /* text-align: center; */
    width: 40%;
     margin: auto auto 3% auto;
    height: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.header-vaga{
    padding-top: 3%;

}

.titulo{
    margin: 3% auto auto 3%;
    font-size: 150%;
}

.empresa{
    float: right;
    margin: 4% 7% auto auto;
}

.vinculo{
    float: left;
    margin: 4% 7% auto auto;
}

.descricao{
    margin: 5% 8% 0 8%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.vaga .descricao{
    text-align: left;
}

.ver-vaga{
    margin:3% 0 3% 0;
    background-color: #f27405;
    color: white;
    
}