.nav{
    background-color: #035A7D;
}

h1{
    text-align: center;
}

/* .barra-vaga{
    width: 15%;
    background-color: pink;
    float: left;
} */

.vaga{
    background-color: #035A7D;
    text-align: center;
    width: 40%;
     margin: auto auto 3% auto;
    height: auto;
    color: white;
    /* display: flex; */
    /* border-radius: 1em; */
}

.header-vaga{
    padding-top: 3%;

}

.descricao{
    margin: 5% 8% 0 8%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.vaga .descricao{
    text-align: left;
}

.ver-vaga{
    margin:3% 0 3% 0;
    background-color: #f27405;
    color: white;
    
}