<div>

    <button (click)="mudarComponente()" *ngIf="permissao" >Mudar Para Editar</button>
    <div *ngIf="ativo">
        <app-listar-dados-por-id></app-listar-dados-por-id>
    </div>
    <!-- muda o estado componente alterando o componente listar para o editar, "ao clicar no botao você poderá editar os seus dados sem sair da página"-->
    <div *ngIf="!ativo">
        <app-editar-dados></app-editar-dados>
    </div>
    <style>
        button {
            position: relative;
        top: 70px;
        left: 100px;
            cursor: pointer;
            background: #0378A6;
            color: white;
            padding: 5px;
            border: 1px rgb(197, 197, 197) solid;
            font-weight: bold;
        }

        button:hover {
            background: rgb(4, 135, 187);
        }
    </style>