h2 {
    text-align: center;
    color: #0378A6;
    font-size: 16pt;
    margin-top: 50px;
}

p {
    color: red;
    font-size: 10pt;
    font-weight: 500;
}
/*Isso é para o alerta.*/

.btn {
    height: 35px;
    margin-left: 5%;
    margin-top: 35px;
}

#botaolimpar{
    background: red;
}


@media screen and (max-width:765px){
    .btn {
        height: 35px;
        margin-left: 35%;
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

