<div class="container">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Página não encontrada</h5>
          
            <ul class="nav nav-pills card-header-pills">
               
            <li class="nav-item">
                <a class="card-text nav-link" routerLink="/login">Fazer Login</a>
            </li>
            <li class="nav-item">
                <a class="card-text nav-link" routerLink="/cadastrarusuario">Cadastre-se</a>
            </li>
            </ul>
            
        </div>
    </div>
</div>