<section class="todos-os-filtros-e-titulo">
    <div class="titulo">
        <h3>Colaboradores</h3>
    </div>
    <div class="formulario-filtro">
        <form #f="ngForm" (ngSubmit)="mandarParaRota(f)">
            <p>Filtros escolhidos &nbsp;&nbsp;&nbsp;&nbsp;</p>
            <input type="text" placeholder="habilidades procuradas" class="form-control" [(ngModel)]="habilidadesprocuradas" name="filtro"
                #filtro="ngModel"  required ngModel>
            <div class="btn-form">
                <button (click)="resetarForm(f)"  style="background: none;border: none;"><i *ngIf="filtro.valid"
                        class="fas fa-trash-alt" style="color: rgb(87, 86, 86);"></i></button>
                <button *ngIf="filtro.valid" mat-button type="submit">Filtrar</button>
            </div>
            <br>
        </form>
        <button (click)="listarTodos()" mat-button>Buscar Todos</button>
    </div>
    <div class="formulario-escolha-habilidades">
        <div class="titulo_habilidades_tecnicas">
            <p><b>Habilidades</b></p>
        </div>
        <form action="#">
            <div class="filtro_habilidades_tecnicas">
                <select type="string" [(ngModel)]="idSkill" #mySelectTecnica
                    (change)='mandarHabilidadeParaFiltro(mySelectTecnica.value,f)'>
                    <option *ngFor="let l of listahabilidades" value="{{l.nome}}">{{l.nome}}
                    </option>
                </select>
            </div>
            <!-- <div class="titulo_habilidades_comportamentais">
                <p><b>Habilidades Comportamentais</b></p>
            </div>
            <div class="filtro_habilidades_comportamentais">
                <select placeholder="Selecione a habilidade" type="string" [(ngModel)]="idSkill" #mySelectComp
                    (change)='mandarHabilidadeParaFiltro(mySelectComp.value)'>
                    <option *ngFor="let l of listahabilidades | filterTypeSkill:'2'" value="{{l.nome}}">{{l.nome}}
                    </option>
                </select>
            </div>
            <div class="titulo_habilidades_negocio">
                <p><b>Habilidades de Negócio</b></p>
            </div>
            <div class="filtro_habilidades_negocio">
                <select type="string" placeholder="Selecione a habilidade" [(ngModel)]="idSkill" #mySelectNeg
                    (change)='mandarHabilidadeParaFiltro(mySelectNeg.value)'>
                    <option *ngFor="let l of listahabilidades | filterTypeSkill:'3'" value="{{l.nome}}">{{l.nome}}
                    </option>
                </select>
            </div> -->
        </form>
    </div>
</section>
<div>
</div>
<div class="Carregando">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <div *ngIf="showSpinner"><a>Carregando...</a></div>
</div>
<div *ngIf="!ListaBool">
    <section class="colaboradores" *ngFor="let l of listas">
        <h3>{{l.nome}}</h3>
        <div class="colaboradores-info" *ngFor="let li of l.skillPessoa">
            <div class="nome-bg">
                <div class="bl-bg flex">
                </div>
                <a class="colaboradores-nome flex">{{li.Pessoa.nome}}</a>
            </div>
            <div class="or-bg">
            </div>
            <a class="colaboradores-email">{{li.Pessoa.matricula}}</a>
            <button routerLink="/perfil/{{li.Pessoa.id}}">Ver profissional</button>
        </div>
    </section>
</div>
<section class="colaboradores" *ngIf="ListaBool">
    <div class="colaboradores-info" *ngFor="let l of lista">
        <div class="nome-bg">
            <div class="bl-bg flex">
            </div>
            <a class="colaboradores-nome flex">{{l.Nome}}</a>
        </div>
        <div class="or-bg">
        </div>
        <a class="colaboradores-email">{{l.Matricula}}</a>
        <button routerLink="/perfil/{{l.Id}}">Ver profissional</button>
    </div>
</section>
<div *ngIf="!listas" class="listavazia">
    <p>Busque Aqui os Colaboradores :)</p>
</div>
<div class="listavazia" *ngIf="erro">
    <p>Nenhum Colaborador Encontrado :(</p>
</div>
<div class="btnPag" *ngIf="mostrarPagina">

    <button (click)="diminuirPagina()">Anterior</button>
    <button (click)="aumentarPagina()">Próxima</button>
</div>