<div class="container">
    <div class="campo-login" *ngIf="!logout">
        <h2>Login</h2>
        <p>Informe a sua Matrícula para entrar no sistema</p>
        <form #f="ngForm" (ngSubmit)="login(f)">
            <div>
                <label for="matricula">Matrícula</label>
                <input type="text" restrict-to="[0-9]" id="matricula" [(ngModel)]="request.matricula" name="matricula" #matricula="ngModel">
            </div>
            <div class="btn">
                <button type="submit">
                    <p>Entrar</p>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="logout" class="online">
        <h3>Logado Com Sucesso</h3>
        <p>Deseja Sair?</p>
        <button (click)="Logout()">Sair</button>
    </div>
</div>
<div *ngIf="erro" class="err">
    <p>Matrícula Incorreta</p>
</div>