    <h1 class="pb-4" id="dashboard">Dashboard</h1>
<div class="container">
    <div class="row" id="row">
        <div class="col-lg-6 col-sm-6" id="card">
            <div class="card-box ">
                <div class="inner">
                    <h3> Colaboradores </h3>
                    <p> Foram encontrados {{users}} colaboradores. </p>
                </div>
                <div class="icon">
                    <i class="fas fa-users" aria-hidden="true"></i>
                </div>
                <a href="/lista" class="card-box-footer">Ver mais...
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="card-box ">
                <div class="inner">
                    <h3> Vagas </h3>
                    <p> Foram encontrados {{vagas}} vagas. </p>
                </div>
                <div class="icon">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <a href="/vagas" class="card-box-footer">Ver mais...
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="row" id="row">
        <div class="col-lg-6 col-sm-6" id="card">
            <div class="card-box ">
                <div class="inner">
                    <h3> Habilidades </h3>
                    <p> Cadastrar uma nova habilidade. </p>
                </div>
                <div class="icon">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">Ver mais...
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="card-box ">
                <div class="inner">
                    <h3> Tipos de habilidade </h3>
                    <p> Cadastrar um novo tipo de habilidade. </p>
                </div>
                <div class="icon">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                </div>
                <a href="/lista" class="card-box-footer">Ver mais...
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="row" id="row">
        <div class="col-lg-6 col-sm-6" id="card">
            <div class="card-box ">
                <div class="inner">
                    <h3> Experiências </h3>
                    <p> Ver experiências dos colaboradores. </p>
                </div>
                <div class="icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">Ver mais...
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="card-box ">
                <div class="inner">
                    <h3> Tipos de experiência </h3>
                    <p> Cadastrar um novo tipo de experiência. </p>
                </div>
                <div class="icon">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                </div>
                <a href="/lista" class="card-box-footer">Ver mais...
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </div>
</div>


<!-- <body>
    
<div class="menu">
    <ul>
        Colaboradores
        <i class="fas fa-caret-down"></i>
        <li>
            <a routerLink="/dashboard/skill">Skill</a>
            <a routerLink="/dashboard/tiposkill">Tipo Skill</a>
            <a routerLink="/dashboard/experiencias">Experiências</a>
            <a routerLink="/dashboard/tipoexperiencia">Tipo Experiência</a>
        </li>
    </ul>
    <ul>Vagas
        <i class="fas fa-caret-down"></i>
        <li>
          
            <a routerLink="/dashboard/vagas">Vaga</a>
        </li>
    </ul>
</div>
<div class="titulo">
    <h1 class="pb-4">Dashboard Administrador</h1>
</div>
<div class="content">
    <div class="flex">
        <div class="flex-item" >
            <h2>Quantidade de colaboradores</h2>
            <p>Foram encontrados {{quantidade}} colaboradores cadastrados no sistema.</p>
            <button class="btn" routerLink="/lista">Pesquisar</button>
        </div>
        <div class="flex-item">
            <h2>Cadastrar habilidade, tipo de habilidade ou experiência</h2>
            <p>Confira as opções no menu lateral.</p>
        </div>
    </div>
    <div class="flex">
        <div class="flex-item">
            <h2>Vagas e colaboradores</h2>
            <p>Veja aqui quantos e quais colaboradores se candidataram às vagas e também quais são mais requisitadas.</p>
            <button class="btn">Ir <i class="fas fa-arrow-right"></i></button>
        </div>
        <div class="flex-item">
            <h2>Quantidade de vagas</h2>
            <p>Foram encontradas 8 vagas cadastradas no sistema.</p>
            <button class="btn" routerLink="/dashboard/vagas">Buscar</button>
        </div>
    </div>

</div>

</body> -->