<mat-toolbar color="primary" class="nav">
    <span>BRQ</span>
</mat-toolbar>

<h1>Vaga</h1>
<div class="vaga">
    <div class="barra-vaga"></div>
    <div class="topo-vaga">
        <div class="titulo">
            <span>
                Título:
                <input type="text" id="titulo" [(ngModel)]="vaga.titulo" name="titulo" #titulo="ngModel">
            </span>
        </div>
        <div class="empresa">
            <span>
                Empresa:
                <input type="text" id="empresa" [(ngModel)]="vaga.empresa" name="empresa" #empresa="ngModel">
            </span>
        </div>
    </div>
    <div class="vinculo">
        <span>
            <div class="vinculo">Vínculo:
                <input type="text" id="TipoVinculo" [(ngModel)]="vaga.TipoVinculo" name="TipoVinculo" #TipoVinculo="ngModel">
            </div>
        </span>
    </div>
    <!--<div class="local">
        <strong>Local:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="descricao">
        <strong>Descrição:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="requisito">
        <strong>Requisitos:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="beneficio">
        <strong>Benefícios:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="horario">
        <strong>Horário:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="salario">
        <strong>Salário:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="contato">
        <strong>Contatos:</strong>
        <br>
        <span>a</span>
    </div>
    <div class="dtPublicacao">Data de publicação:
        <span>a</span>
    </div> -->
</div>
<button class="candidatar" mat-button>Candidate-se</button>