
<div class="titulo">
    <h3>Dados Pessoais</h3>
</div>
<div *ngIf="lista">
    <div class="lista-info">

        <div class="info flex">


            <div class="flex-content">
                <p>Data de Nascimento</p>
                <a>{{lista.DataNascimento}}</a>

            </div>

            <div class="flex-content">
                <p>CPF</p>
                <a>{{lista.cpf}}</a>
            </div>
            <div class="flex-content">
                <p>RG</p>
                <a>{{lista.rg}}</a>

            </div>
            <div class="flex-content">
                <h3>Contatos</h3>
                
                <div class="botaocontatos">
                    <button (click)="openDialogContato()" *ngIf="permissao" >
                        <i class="fas fa-plus"></i>
                    </button> 
                </div>

                <div *ngFor="let c of lista.Contatos" class="contact-item">
                    <p>{{c.TipoDeContato.NomeTipoContato}}</p>
                    <a> {{c.Contato}}</a>
                </div>

            </div>
        </div>
        <div class="info2 flex">
            <div class="flex-content">
                <p>Matrícula</p>
                <a>{{lista.matricula}}</a>
            </div>
            <!-- <div class="flex-content">
            <p>Número</p>
            <a>{{lista.numero}}</a>
        </div> -->
            <div class="flex-content">
                <p>CEP</p>
                <a>{{lista.cep}}</a>
            </div>
            <div class="flex-content">
                <p>Logradouro</p>
                <a>{{lista.logradouro}}</a>
            </div>
            <div class="flex-content">
                <p>Bairro</p>
                <a>{{lista.bairro}}</a>
            </div>
            <div class="flex-content">
                <p>Estado</p>
                <a>{{lista.estado}}</a>
            </div>


        </div>
    </div>
</div>