*{
    font-family: segoe ui;
    text-align: center;
   
}
/*  */
.titulo{
    position: relative;
    top: 50px;
    color: #0378A6;
  font-size: 16pt;
}
a{
    font-weight: 400;
    background: #fffdfd;
    font-size: 12pt;
    color: black;
    border-bottom: 2px solid #0378A6;
    background: rgb(248, 248, 248);
    padding: 5px;
}
.lista-info{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
    display: flex;
   
  
}
.flex-content h3{
    color: #F27405;
}
.contact-item{
    display: flex;
    width: 60%;
    justify-content:space-between ;
    
}
.flex{
    flex-grow: 2;
    position: relative;
    margin-top: 100px;
    justify-content: space-around;
   }
.flex-content{
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
p{
    color: #F27405;
    font-size: 14pt;

}
.btn-edit{
    border: 1px solid rgb(202, 202, 202);
    background: #F27405;
    height: 29px;
    width: 70px;
    cursor: pointer;
    color: white;
    font-size: 13pt;
    font-weight: 400;
}
.btn-edit:hover{
    background: rgb(253, 146, 52);
    
}
