#nav{
    background-color: #005F9C;
}

#nav img{
    height: 50px;
    margin-left: 25%;
}

#lista{
    margin: auto 2% auto auto;
    font-size: 1.4em;
}

#lista a{
    color: white;
    cursor: pointer;
}

#botao{
    background-color: rgb(0, 114, 185);
}

#navbarNav{
    margin-left: 5%;
}

