<head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
  
    
    <h1 class="pb-4" id="titulo-pag">Vagas</h1>
    <p>Aqui você encontra as oportunidades dentro da BRQ!</p>
    <div *ngFor="let l of lista">
        <div class="vaga">
            <!-- <div class="barra-vaga"></div> -->
            <div class="topo-vaga">
                <div class="titulo">
                    <span>
                        <strong>{{l.titulo}}</strong>
                    </span>
                </div>
                <div class="empresa">
                    <strong>Empresa: </strong>
                    <span>{{l.empresa}}</span>
                </div>
                <div class="vinculo">
                    <strong>Vínculo: </strong>
                    <span>{{l.TipoVinculo}}</span>
                </div>
                <div class="local">
                    <strong>Local: </strong>
                    <span>{{l.localidade}}</span>
                </div>
                <div class="descricao">
                    <strong>Descrição:</strong>
                    <br>
                    <span>{{l.descricao}}</span>
                </div>
                <button class="ver-vaga" mat-button routerLink="/vagas/{{l.id}}">Ver Vaga</button>
            </div>
        </div>
    </div>