<footer class="rodape-bar">
    <img src="../../../assets/Imagens/LogoBranco.png" alt="logo empresa">
    
<div>
    <a>BRQ online
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/brqdigital/">
        <img width="30px" height="30px" src='../../../assets/Imagens/icone_facebook.jpg' />
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://br.linkedin.com/company/brq">
        <img width="30px" height="30px" src='../../../assets/Imagens/icone_linkedin.png' />
    </a> &nbsp;&nbsp;&nbsp;&nbsp;          
    <a href="https://www.instagram.com/brqdigital/">
        <img width="30px" height="30px" src='../../../assets/Imagens/icone_instagram.png' />
    </a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/user/brqitservices">
        <img width="30px" height="30px" src='../../../assets/Imagens/icone_youtube.png' />
    </a>
</div>  

</footer>  




<!-- 
O código abaixo, combinado com o comentado no css, mostra um rodapé com o logo acima e no centro, e um menu.    
<footer class="rodape">


<nav class="menurodape">
        <img src="../../../assets/Imagens/LogoBranco.png" alt="logo empresa">
    <ul> 
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/cadastrarusuario">Cadastrar usuário</a></li>
            <li><a routerLink="/lista">Listar usuários</a></li>
    </ul>
</nav>

</footer> -->