.nav span{
    margin-left: 1%;
}

.nav{
    background-color: #035A7D;
}

#brq{
    background-color: #035A7D;
    display: flex;
    align-items: center;
}

h4{
    color: #035A7D;
}
input:focus, textarea:focus{
    border: 2px solid #f27405;
    outline: 0;
    box-shadow: none;
}

textarea{
    resize: none;
}

#descricao{
    height: 88px;
}

.cadastrar{
    background-color: #f27405;
    color: white;
    margin: 3% auto auto auto;
}

h4{
    text-align: center;
}