h4 {
    text-align: center;
    color: #014068;
    font-size: 15pt;
}

label {
    display: flex;
    padding: 20px;
    justify-content: center;
   
    flex-direction: column;
}
p{
    font-size: 11pt;
    color: #F27405;
}
input {
    border: none;
    background: none;
    border-bottom:1px solid rgb(7, 7, 7);
    padding: 3px 0 5px;
    text-align: center;
    outline: none;
    text-align: left;
}

input:focus {
    transition: 0.7s;
    border-bottom-color: #F27405;
}

.parte-formulario {
    font-size: 14pt;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.parte-formulario-esquerda {
    font-size: 14pt;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.form-cadastro-experiencia {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }

label a {
    font-size: 14pt;
    position: relative;
    font-weight: 400;
    font-style: italic;
    color: #F27405;
}

.title-text {
    width: 150px;
    position: relative;
    right: 70px;
}

.btn {
    justify-content: center;
    display: flex;
}

.btn button{
    margin-top: 5vh;
    background: #F27405;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.btn button:hover{ 
    background: rgb(253, 146, 52); 
}


.btn-exit{
    position: absolute;
    bottom: 21%;
    left: 21%;
    border: none;
    background: none;
    font-size: 15pt;
    cursor: pointer;
    
}
/* Instruções para quando a tela estiver menor */

@media screen and (max-width: 850px) {
    .parte-formulario {
        font-size: 11pt;
        flex-direction: column;
    }
    .parte-formulario ::placeholder {
        font-size: 11pt;
    }
    .parte-formulario-esquerda {
        font-size: 11pt;
        flex-direction: column;
    }
    .parte-formulario-esquerda ::placeholder {
        font-size: 11pt;
    }
}