<mat-toolbar color="primary" class="nav">
    <span>BRQ</span>
</mat-toolbar>

<h1>Vaga</h1>
<div class="vaga">
    <div class="barra-vaga"></div>
    <div *ngIf="lista">
        <div class="topo-vaga">
            <div class="titulo">Titulo:
                <span>{{lista.titulo}}</span>
            </div>
            <div class="empresa">Empresa:
                <span>{{lista.empresa}}</span>
            </div><br class="br">
            <div class="vinculo">Tipo de vinculo:
                <span>{{lista.TipoVinculo}}</span>
            </div>
            <div class="local">Local:
                <span>{{lista.localidade}}</span>
            </div>
        </div>
        <div class="descricao">Descrição:
            <br>
            <span>{{lista.descricao}}</span>
        </div>
        <div class="requisito">Requisitos:
            <br>
            <span>{{lista.requisito}}</span>
        </div>
        <div class="beneficio">Benefícios:
            <br>
            <span>{{lista.beneficio}}</span>
        </div>
        <div class="horario">Horário:
            <br>
            <span>{{lista.horario}}</span>
        </div>
        <div class="salario">Salário:
            <br>
            <span>{{lista.salario}}</span>
        </div>
        <div class="contato">Contatos:
            <br>
            <span>{{lista.contato}}</span>
        </div>
        <div class="dtPublicacao">Data de publicação:
            <span>{{lista.dtPublicacao}}</span>
        </div>
    </div>
</div>
<button class="candidatar" mat-button>Candidate-se</button>