.nav{
    background-color: darkcyan;
}

h1{
    text-align: center;
}

.barra-vaga{
    width: 7%;
    margin: auto;
    height: auto;
    background-color: orange;
    float: left;
}

.vaga{
    background-color: darkcyan;
    text-align: center;
    width: 60%;
     margin: auto;
    height: auto;
}

.header-vaga{
    padding-top: 3%;
}

.descricao{
    margin: 5% 8% 0 8%;
    text-align: justify;
}

.requisito{
    margin: 5% 8% 0 8%;
    text-align: justify;
}

.beneficio{
    margin: 5% 8% 0 8%;
    text-align: justify;
}

.horario{
    margin: 5% 8% 0 8%;
    text-align: justify;
}

.salario{
    margin: 5% 8% 0 8%;
    text-align: justify;
}

.contato{
    margin: 5% 8% 0 8%;
    text-align: justify;
}

.dtPublicacao{
    float: right;
}