.form-cadastro {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 50px;
}

label {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label a {
    font-size: 12pt;
    position: relative;
    font-weight: 400;
    font-style: italic;
    color: #F27405;
}

.title-text {
    width: 150px;
    position: relative;
    right: 70px;
}